<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/styles/social_media.css">
    <link rel="stylesheet" href="../../../public/styles/global.css">
    <title>{{page}}</title>
</head>
<body>
    <section id="application">
        <p id="feed_title">Sobre o Site:</p>
        <div id="feed_container">
            <div id="feed">  
                <div class="post_container">
                    <div class="post">
                        <div class="content_container">
                            <div class="content">
                                <p>Esse site foi feito como um teste para aprender mais sobre a metodologia MVC.
                                    O meu repositório com estudos sobre a metodologia pode ser acessado pelo seguinte link:
                                    <a id="about_link" href="https://github.com/gfloriano11/studying-mvc">Repositório</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>