<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/social_media.css">
    <link rel="stylesheet" href="../public/styles/edit_post.css">
    <link rel="stylesheet" href="../public/styles/global.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="/projects/studying-mvc/class2/public/">Home</a> |
        <a href="?page=about">Sobre</a> |
        <a href="?page=admin">Admin</a>
    </nav>
    <section id="application">
        <p id="feed_title">Criar Post:</p>
        <div id="feed_container">
            <div id="feed">  
                <div id="form_container">
                    <form method="POST" action="?page=admin&method=create">
                        <label for="post_title">Nome da Postagem:</label>
                        <input type="text" name="post_title">
                        <label for="post_content">Conteúdo:</label>
                        <textarea name="post_content" id="content"></textarea>
                        <div id="center">
                            <button>Criar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>