<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/styles/social_media.css">
    <link rel="stylesheet" href="../../../public/styles/global.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="#">Home</a> |
        <a href="#">Sobre</a>
    </nav>
    <section id="application">
        <p id="feed_title">Posts Recentes:</p>
        <div id="feed_container">
            <div id="feed">  
            {% for post in posts %}
                <div class="post_container">
                    <div class="post">
                        <div class="title_container">
                            <a class="title">
                                <p>{{post.title}} | {{post.post_id}}</p>
                            </a>
                        </div>
                        <div class="content_container">
                            <div class="content">
                                <p> eu gosto de pão. pão é bom para o organismo, para a vida, para homens, mulheres, crianças, cachorros, gatos, aves. Todos comem pão, porque pão, é universal.</p>
                            </div>
                        </div>
                        <div class="comments_container">
                            <div class="comments">
                            {% for comment in comments%}
                                <div class="comment_container">
                                    <div class="comment">
                                        <div class="user_name">
                                            <p>{{comment.user_name}}</p>
                                        </div>
                                        <div class="comment_text">
                                            <p>{{comment.content}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
</body>
</html>