<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/studying-mvc/class2/public/styles/social_media.css">
    <link rel="stylesheet" href="/studying-mvc/class2/public/styles/global.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="#">Home</a> |
        <a href="#">Sobre</a>
    </nav>
    <section id="application">
        {{change}}
        <div id="feed_container">
            <div id="feed">  
                <div class="post_container">
                    <div class="post">
                        <div class="title_container">
                            <a class="title">
                                <p>Titulo da Postagem</p>
                            </a>
                        </div>
                        <div class="content_container">
                            <div class="content">
                                <p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
                            </div>
                        </div>
                        <div class="comments_container">
                            <div class="comments">
                                <div class="comment_container">
                                    <div class="comment">
                                        <div class="user_name">
                                            <p>Gustavo Floriano</p>
                                        </div>
                                        <div class="comment_text">
                                            <p>Caraca, mano! Foda demais!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment_container">
                                    <div class="comment">
                                        <div class="user_name">
                                            <p>Gustavo Floriano</p>
                                        </div>
                                        <div class="comment_text">
                                            <p>Caraca, mano! Foda demais!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
