<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/studying-mvc/class2/public/styles/social_media.css">
    <link rel="stylesheet" href="/studying-mvc/class2/public/styles/global.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="#">Home</a> |
        <a href="#">Sobre</a>
    </nav>
    <section id="application">
        {{change}}
    </section>
</body>
</html>
