<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/styles/social_media.css">
    <link rel="stylesheet" href="../../../public/styles/global.css">
</head>
<body>
    <nav>
        <a href="/projects/studying-mvc/class2/public/">Home</a> |
        <a href="?page=about">Sobre</a>
    </nav>
    <section id="application">
        {{change}}
    </section>
</body>
</html>
