#post_table{
    font-size: 0.9rem;
    min-width: 250px;
    min-height: 150px;
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
    border: 1px solid rgb(169, 169, 169);
    border-spacing: 0;
    padding: 10px;
}

#create_container{
    margin-top: 5vh;
}

td{
    text-align: center;
}